[edit]
    command = "nvim"

[data]
    git_github_name = "{{ promptStringOnce . "git_github_name" "Git name (github)" }}"
    git_github_email = "{{ promptStringOnce . "git_github_email" "Git email (github)" }}"
    git_gitea_name = "{{ promptStringOnce . "git_gitea_name" "Git name (gitea)" }}"
    git_gitea_email = "{{ promptStringOnce . "git_gitea_email" "Git email (gitea)" }}"
    git_work_name = "{{ promptStringOnce . "git_work_name" "Git name (work/bitbucket)" }}"
    git_work_email = "{{ promptStringOnce . "git_work_email" "Git email (work/bitbucket)" }}"
    git_signing_key = "{{ promptStringOnce . "git_signing_key" "SSH public key for commit signing (ssh-ed25519 AAAA...)" }}"
